@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
body {
  max-width: 2000px;
  margin: 0 auto;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.active {
  transform: translateY(0px);
  opacity: 1;
}

#preloader {
  background: white url(images/preloader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
html {
  scroll-behavior: smooth;
}
nav {
  border-bottom: 1px solid rgb(179, 179, 179);
}
#nav-img {
  width: 160px;
}
.nav-link {
  font-size: 19px !important;
}

.nav-link.active {
  position: relative;
}

.image img {
  width: 200px;
}

#learn {
  background-color: rgb(245, 245, 245);
}
#learn p {
  font-size: 18px;
}
#about-heading {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 35px;
  padding-top: 25px;
  font-size: 34px;
}

#about-heading::before {
  content: "";
  position: absolute;
  left: 42%;
  bottom: -10px;
  background-color: black;
  height: 2px;
  width: 16%;
}
.mission {
  margin-top: 30px;
  padding-bottom: 30px;
}
.mission p {
  text-align: center;
  font-size: 18px;
}

#vision-img {
  border-radius: 8px;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#instructors {
  background-color: rgba(7, 7, 146, 0.87);
}
#instructors.p-5 {
  padding-bottom: 4rem !important;
}
#gallery.p-5 {
  padding-bottom: 5rem !important;
}
#gallery {
  display: flex;
  text-align: center;
}
#gallery h1 {
  text-align: center;
  margin-bottom: 60px;
  position: relative;
  font-size: 34px;
  text-transform: uppercase;
}
#gallery h1::before {
  content: "";
  position: absolute;
  left: 42.5%;
  bottom: -10px;
  background-color: black;
  height: 2px;
  width: 15.5%;
}
.images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.image h4 {
  text-align: center;
  margin-top: 12px;
}
.images img {
  border-radius: 10px;
  width: 400px;
  height: 275px;
}
.view-button {
  padding: 15px;
  border-radius: 12px;
  color: white;
  text-align: center;
  background-color: rgb(1, 1, 100);
  margin-top: 50px;
  font-size: 20px;
  width: 270px;
}

.sponsors {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.sponsor img {
  width: 130px;
  height: 100px;
  object-fit: contain;
}
.sponsor .special {
  object-fit: cover;
}

#partners {
  text-align: center;
  padding-bottom: 50px;
}
#partners h1 {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 34px;
}
#partners h1::before {
  content: "";
  position: absolute;
  left: 42%;
  bottom: -10px;
  background-color: black;
  height: 2px;
  width: 16%;
}

.footerr {
  background-size: 100%;
  padding: 30px 30px 10px 30px;
  margin-top: 60px;
  background-color: rgb(0, 0, 70);
}
.footerr ul {
  padding-left: 0rem;
}
.container2 {
  max-width: 1250px;
  margin: auto;
}
.roww {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-col {
  width: 25%;
}
.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: white;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col ul li {
  color: #bbbbbb;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  line-height: 30px;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 1400px) {
  .images {
    justify-content: center;
  }
  #gallery h1::before {
    left: 42%;
  }
}

@media (max-width: 850px) {
  .sponsor img {
    width: 80px;
    height: 80px;
  }
  #partners h1::before {
    width: 25%;
    left: 37%;
  }
  #about-heading::before {
    width: 25%;
    left: 36%;
  }

  #gallery h1 {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .nav-link.active::before {
    content: "";
    position: absolute;
    left: 8px;
    bottom: -21.5px;
    background-color: black;
    font-weight: normal;
    border-radius: 1px;
    height: 3px;
    box-sizing: border-box;
    width: 85px;
  }
}

@media (max-width: 767px) {
  #learn.p-5 {
    padding: 1rem !important;
    padding-bottom: 3rem !important;
  }
  #learn .col-lg.p-5 {
    padding: 1rem !important ;
  }
  #instructors.p-5 {
    padding: 1rem !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  #navmenu {
    padding-top: 10px !important;
  }
}

@media (max-width: 700px) {
  .images img {
    width: 330px;
    height: unset;
  }

  #gallery h1::before {
    left: 30%;
    width: 40%;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
@media (max-width: 500px) {
  #partners {
    padding-top: 20px;
  }
  #partners h1::before {
    width: 30%;
  }
  #about-heading::before {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .view-button {
    width: unset;
  }
}
