@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}
body {
  max-width: 2000px !important;
  margin: 0 auto !important;
}
.navigation {
  background: linear-gradient(to right, rgb(234, 233, 233), rgb(0, 94, 163));
}
.bg-dark {
  background-color: inherit !important;
}

#nav-img {
  width: 160px;
}
.nav-link {
  font-size: 19px !important;
  color: white;
}

.nav-link.active {
  position: relative;
  color: white;
}
.preview {
  display: flex;
  width: 72%;
  padding-top: 100px;
  padding-bottom: 30px;
  margin: 0 auto;
  color: black;
  justify-content: center;
  align-items: center;
}
.preview p {
  font-size: 18px;
}
.preview h2 {
  margin-bottom: 20px;
}
.andalusia-text {
  color: rgb(1, 100, 1);
}

.pic img {
  width: 550px;
  margin-top: -40px;
}
.view-button {
  padding: 11px;
  border-radius: 8px;
  color: white;
  text-align: center;
  background-color: rgb(1, 1, 100);
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 18px;
  width: 200px;
}

.about {
  display: flex;
  gap: 100px;
  padding-bottom: 80px;
  padding-top: 80px;
  width: 72%;
  margin: 0 auto;
}
.about-pic img {
  width: 490px;
  height: 330px;
  border-radius: 10px;
}
.about-text h2 {
  margin-bottom: 20px;
}
.about-button {
  padding: 11px;
  border-radius: 8px;
  color: white;
  text-align: center;
  background-color: rgb(1, 100, 1);
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 18px;
  width: 170px;
}
.about-button:hover {
  filter: brightness(0.9);
}
.about-text p {
  font-size: 18px;
}
.service {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 248, 248);
  text-align: center;
}
.service h2 {
  margin-bottom: 50px;
}
.card {
  width: 400px;
}
.card-body {
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
}
.card-body h3 {
  margin-bottom: 10px;
}

#courses-img {
  width: 100%;
  height: 300px;
  margin-bottom: 18px;
}
#library-img {
  width: 100%;
  height: 300px;
  margin-bottom: 18px;
}
.service-button {
  padding: 12px;
  border-radius: 10px;
  color: white;
  text-align: center;
  background-color: rgb(1, 1, 100);
  margin-top: 30px;
  margin-bottom: 80px;
  font-size: 18px;
  width: 170px;
}
.service-button:hover {
  filter: brightness(0.9);
}
.footerr {
  background-size: 100%;
  padding: 30px 30px 10px 30px;
  background-color: rgb(0, 0, 65);
}
.footerr ul {
  padding-left: 0rem;
}
.container2 {
  max-width: 1250px;
  margin: auto;
}
.roww {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-col {
  width: 25%;
}
.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  background-color: white;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col ul li {
  color: #bbbbbb;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  line-height: 30px;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
@media (max-width: 1550px) {
  .about {
    width: 82%;
  }
  .about-pic img {
    width: 400px;
  }
}
@media (max-width: 1366px) {
  .preview {
    width: 82%;
  }
}
@media (max-width: 1250px) {
  .about {
    width: 87%;
  }
}
@media (max-width: 1100px) {
  .preview {
    width: 88%;
  }
}
@media (max-width: 1000px) {
  .about {
    flex-direction: column;
    gap: 0px;
    text-align: center;
  }
  .about-pic {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-pic img {
    width: 500px;
    height: unset;
  }
  .preview {
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .view-button {
    margin-bottom: 20px;
  }
  .pic img {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  #navmenu {
    padding-top: 10px !important;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .about-pic img {
    width: 350px;
  }
}
@media (max-width: 450px) {
  .card {
    width: 90%;
  }
}
