@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;700&family=Raleway:wght@700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.nav{
    background-color: blue;
}
.h1 {
    position: relative;
    margin-bottom: 50px;
    font-size: 34px;
  }
.h1::before {
    content: "";
    position: absolute;
    left: 39%;
    bottom: 20px;
    background-color: black;
    height: 2px;
    width: 22%;
  }
.h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.service{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 30px;
    justify-content: center;
    padding-top: 25px;
}
.service1{
    border: 2px solid darkred;
    padding: 5px 20px;
    border-radius: 10px; 
    background-color:darkred;
    color: white;
}
.cards-section {
    padding: 90px;
    height: 20px;
  }
.card-text{
    font-size: 10px;
    font-weight: bold;
    /* background-color: rgb(115, 173, 115); */
    /* padding: 5px 5px; */
    border-radius: 10px; 

  }
  .card-img-top{
    margin-bottom: 25px;
  }
  .card-text button{
    background-color: darkgreen;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-size: 19px;
    outline: none;
  }
  .card-text button:hover{
    /* color: black; */
    filter: brightness(0.9);
  }
  .card-text a{
    text-decoration: none;
    color: black;
}
.card-text a:hover{
    color: rgb(20, 56, 32);
    background-color: black;
}
.card-img-top {
    height: 190px;
    object-fit: cover;
}
.foot{
    background-color: blue;
}
@media(max-width:1201px){
    .service{
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
        gap: 10px;
    }
    .service1{
        width: 30%;
        gap: 5px;
        text-align: center;
    }
    .cards-section{
        padding: 20px;
        margin-top: 40px;
    }
}
@media(max-width:630px){
    .service1{
        width: 40%;
    }

}
